<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Made in Rope</title>
</head>
<body>
    <header>
       
        <nav id="navbar">
            
        
            
        <a href="lamorita"><button type="button" class="btn btn-outline-light">Conocenos</button></a>
        <a href="#"><button type="button" class="btn btn-outline-light">Tabla de talles</button></a>
        <a href="/"><button type="button" class="btn btn-outline-light">Productos</button></a>
       </nav>
       
        
        <div class= "banner-index">
            <div class= "img-banner-index">
                <img src= "/img/frontEnd/banner-index.png">
            </div>
        </div>
    </header>
    <main>
        
        <h1 style="color: lightblue;"> Como comprar </h1>

        <h2 style="color: lightblue;"> Escribinos por whatsapp al número 12345678</h2>
        <h2 style="color: lightblue;"> o con este link: <a href="/whatsapp"><i class="fab fa-whatsapp footer-items fa-2x"></i></a></h2>
        <h3 style="color:darkgrey;"> Pasanos modelo y talle </h3>
        <h2 style="color: lightblue;"> Una vez confirmado el producto te pasamos los datos para el pago</h2>
        <h3 style="color:darkgrey;"> Aceptamos Mercado Pago o Transferencia</h2>

    </main>    
    <footer id="foot">
        <label class="footer-titulos"></label>
        <a href="/whatsapp"><i class="fab fa-whatsapp footer-items fa-4x"></i></label>
        <a href="https://www.google.com.ar/maps/place/Los+Panas+Centro+Ecuestre,+CGA,+Nicaragua+101,+B1632+Manzanares,+Provincia+de+Buenos+Aires/@-34.4565133,-59.013026,17z/data=!4m2!3m1!1s0x95bc81f343e2b7dd:0x66e179eb76bfce0b"><i class="fas fa-map-marker-alt footer-items fa-4x"></i></label>
        <a href="/"> <img class="logo" src="/img/frontEnd/logo-made.png" alt="logo"></a> 
        <a href="https://www.instagram.com/madeinrope/"><i class="fab fa-instagram footer-items fa-4x"></i></a>
        <label><i class="fab fa-facebook footer-items fa-4x"></i></label>
    </footer>
</body>