<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/laMorita/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Made in Rope</title>
</head>
<body id="body_lamorita">
    <header>
       
        <!-- <nav id="navbar">
            
        
            
        <a href='/'><button type="button" class="btn btn-outline-light">Productos</button></a>
        <a href='/talles'><button type="button" class="btn btn-outline-light">Tabla de talles</button></a>
        <a href='/como_comprar'><button type="button" class="btn btn-outline-light">Cómo comprar</button></a>
        <div id="clickFav"><i class="fas fa-heart fa-2x"></i></div>
        
        </div>
    </nav>
        -->

<!-- 
        <div id="logo-lamorita">
            <img src= "/img/laMorita/banner-logo-lamorita.png" width="30%">
        </div> -->
 
        <div id="conteiner-laMorita">
        

        
            <div class= "menuLamorita">
      
                <div class="categoria-listado">
                    <a class="lightbox" href="#pensiones">
                        <img src="/img/lamorita/pension-banner.png" alt="bozales" class="imagenCategoria">
                        <div class="overlayList">
                          <div class="text">Pensión</div>
                        </div>
                    </a>
                   
                </div>
                <div class="categoria-listado">
                    <a class="lightbox" href="#doma">
                        <img src="/img/lamorita/doma-banner.png" alt="riendas" class="imagenCategoria">
                        <div class="overlayList">
                          <div class="text">Doma</div>
                        </div>
                    </a>
                </div>
                <div class="categoria-listado">
                    <a class="lightbox" href="#clases">
                        <img src="/img/lamorita/clases-banner.png" alt="accesorios" class="imagenCategoria">
                        <div class="overlayList">
                          <div class="text">Clases</div>
                        </div>
                    </a>
                </div>
                
            </div>
    
        </div>



        <div id="logo-lamorita">
            <img src= "/img/laMorita/banner-logo-lamorita.png" width="30%">
        </div>
      
    </header>
    <main id="mainColor-lamorita">
            <div class="category-product" id="vision">
                <div class="subtitulo-categoria">
                    <img src="/img/laMorita/vision-banner.png" height="200px">
                </div>
                <!-- vision -->
                <h2 class="doma-text"> UNA MIRADA INTEGRAL CON BASE EN EL BIENESTAR EQUINO</h2>
                <div id="conteiner-vision">
                    <div id="vision-conteiner-img">
                        <div id="visionClick" class=" text-white carousel-laMorita productConteiner">
                            <img class="imgCat" src="/img/laMorita/alimento.png"   > 
                        </div>
                        <div id="visionClick2" class=" text-white carousel-laMorita productConteiner">
                            <img class="imgCat" src="/img/laMorita/plan-sanitario.png" > 
                        </div>
                        <div id="visionClick3" class=" text-white carousel-laMorita productConteiner">
                            <img class="imgCat" src="/img/laMorita/desvase.png" > 
                        </div>
                        <div id="visionClick4" class=" text-white carousel-laMorita productConteiner">
                            <img class="imgCat" src="/img/laMorita/manejo.png" > 
                        </div>
                        <div id="visionClick5" class=" text-white carousel-laMorita productConteiner">
                            <img class="imgCat" src="/img/laMorita/vinculo.png" > 
                        </div>
                    </div>
                    <div id="vision-conteiner-text">    
                        <div id="visionTextClick" class="doma-text">
                            <h2 > Buena alimentación</h2>
                            <h4 > Forraje de calidad</h4>
                            <h4> en multiples franjas horarias</h4>
                            <h4> optimizando el proceso digestivo</h4>
                        </div>
                        
                        <div id="visionTextClick2" class="doma-text">
                            <h2 > Plan sanitario</h2>
                            <h4> Para que tu caballo esté en las mejores condiciones</h4>
                            <h4> garantizamos una cobertura integral sanitaria</h4>
                        </div>
                        
                        <div id="visionTextClick3" class="doma-text" >
                            <h2 > Desvase periódico</h2>
                            <h4 > Según las necesidades del caballo</h4>
                            <h4> <em>"Sin pie no hay caballo" </em></h4>
                        </div>
                        
                        <div id="visionTextClick4" class="doma-text" >
                            <h2 > Buen manejo</h2>
                            <h4 > El trato diario con el caballo</h4>
                            <h4> es tan importante </h4>
                            <h4> como lo que sucede en el corral redondo </h4>
                        </div>

                        <div id="visionTextClick5" class="doma-text" >
                            <h2 > Vínculo y confianza</h2>
                            <h4 > Por medio de la confianza y el respeto</h4>
                            <h4> logramos un caballo colaborador</h4>
                            <h4> Trabajamos de forma progresiva y no violenta</h4>
                        </div>
                    </div>
                </div>
                <div class="arrowConteiner">
                    <div class="arrow-Conteiner">
                        <img id="nextClick" class="arrowNext" src="img/laMorita/arrow.png" >
                    </div>
                    <div class="arrow-Conteiner">
                        <img id="nextClick2" class="arrowNext" src="img/laMorita/arrow.png" >
                    </div>
                    <div class="arrow-Conteiner">
                        <img id="nextClick3" class="arrowNext" src="img/laMorita/arrow.png" >
                    </div>
                    <div class="arrow-Conteiner">
                        <img id="nextClick4" class="arrowNext" src="img/laMorita/arrow.png" >
                    </div>
                    <div class="arrow-Conteiner">
                        <img id="nextClick5" class="arrowNext" src="img/laMorita/arrow.png" >
                    </div>
                </div>
            </div>

                <div class="category-product" id="instalaciones">
                    <div class="subtitulo-categoria">
                        <img src="/img/laMorita/instalaciones-banner.png" height="200px">
                    </div>
    
                    <div id="instalacionesClick" class=" text-white carousel-laMorita productConteiner">
                        <img class="imgCat" src="/img/laMorita/instalaciones/instalacionesA.jpeg"  > 
                    </div>
                    <div id="instalacionesClick2" class=" text-white carousel-laMorita productConteiner">
                        <img class="imgCat" src="/img/laMorita/instalaciones/instalaciones2.jpeg" > 
                    </div>
                    <div id="instalacionesClick3" class=" text-white carousel-laMorita productConteiner">
                        <img class="imgCat" src="/img/laMorita/instalaciones/instalaciones3.jpeg" > 
                    </div>
                    <div id="instalacionesClick4" class=" text-white carousel-laMorita productConteiner">
                        <img class="imgCat" src="/img/laMorita/instalaciones/instalaciones4.jpeg" > 
                    </div>
                    <div id="instalacionesClick5" class=" text-white carousel-laMorita productConteiner">
                        <img class="imgCat" src="/img/laMorita/instalaciones/instalaciones5.jpeg" > 
                    </div>
                    <div id="instalacionesClick6" class=" text-white carousel-laMorita productConteiner">
                        <img class="imgCat" src="/img/laMorita/instalaciones/instalaciones6.jpeg" > 
                    </div>
                        
                </div>

            <div class="category-product" id="jornadas">
                <div class="subtitulo-categoria">
                    <img src="/img/laMorita/jornadas-banner.png"  height="200px">
                </div>
                <div>
                    <h2 class="doma-text"> DIA DE CAMPO EDUCATIVO</h2>
                    <h4 class="doma-text"> Trabajo en equipo, respeto, paciencia, concentración y calma</h4>
                </div>
            </div>
            <div class="contenido-pension">

                <div id="imagenes-pension">
                    <div class=" text-white carousel-laMorita productConteiner">
                            <img class="imgCat" src="/img/laMorita/jornadasA.png" width="25%"  > 
                    </div>
                </div>
                <div id="contenido-parrafo-jornadas" class="doma-text">
                    <h2> UN DíA DIFERENTE</h2>
                    <h4 > Ofrecemos la posibilidad de vivir la experiencia de compartir con compañeros y caballos </h4>
                    <h4> Tendrán la posibilidad de alimentarlos y conectar con ellos </h4>
                    <h4> Aprendiendo sobre sus cuidados, necesidades y forma de vida </h4>
                </div>
            </div>
            <div class="contenido-pension">

                <div id="contenido-parrafo-jornadas" class="doma-text">
                    <h4> La jornada comenzará con un desayuno grupal</h4>
                    <h4> Las actividades incluyen conocer las manadas y su comportamiento</h4>
                    <h4> Juegos en equipo y aprendizaje de monta en corral redondo</h4>
                    <h2> <i> Las jornadas son personalizadas según los objetivos de la misma</i></h2>
                </div>

                <div id="imagenes-pension">
                    <div class=" text-white carousel-laMorita productConteiner">
                            <img class="imgCat" src="/img/laMorita/jornadasB.png" width="25%"  > 
                    </div>
                </div>
            </div>

            <div class="category-product" id="cab">
                
                <div class="subtitulo-categoria">
                    <img src="/img/laMorita/banner-cab.png"  height="200px">
                </div>
                
                <div id="carouselClick" class="card bg-dark text-white carousel-laMorita productConteiner">
                    <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/cabaña/cabaña_H.jpeg"  > 
                    <div class="overlayCat">
                        <div class="text">TITULO</div>
                    </div>
                    </a>
                    
                </div>
                <div id="carouselClick2" class="card bg-dark text-white carousel-laMorita productConteiner">
                    <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/cabaña/cabañaYvino.jpeg" > 
                    <div class="overlayCat">
                        <div class="text">TITULO</div>
                    </div>
                    </a>
                    
                </div>
                <div id="carouselClick3" class="card bg-dark text-white carousel-laMorita productConteiner">
                    <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/cabaña/living_H.jpg" > 
                    <div class="overlayCat">
                        <div class="text">TITULO</div>
                    </div>
                    </a>
                    
                </div>
                <div id="carouselClick4" class="card bg-dark text-white carousel-laMorita productConteiner">
                    <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/cabaña/barra_H.jpeg" > 
                    <div class="overlayCat">
                        <div class="text">TITULO</div>
                    </div>
                    </a>
                    
                </div>
                <div id="carouselClick5" class="card bg-dark text-white carousel-laMorita productConteiner">
                    <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/cabaña/foggy_H.jpeg" > 
                    <div class="overlayCat">
                        <div class="text">TITULO</div>
                    </div>
                    </a>
                    
                </div>
           
            </div>

            
            <div class="category-product" id="pensiones">
                
                <div class="subtitulo-categoria">
                    <img src="/img/laMorita/pensiones-banner.png"  height="200px">
                </div>

                <h2 class="doma-text"> PENSION A CAMPO - PIQUETE - BOX CON PADDOK</h2>

                <div id="imagenes-pension">
                    <div id="pensionClick" class=" text-white carousel-laMorita productConteiner">
                        <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/pension/pensionA.jpeg"  > 
                        <!-- <div class="overlayCat">
                            <div class="text">TITULO</div>
                        </div> -->
                        <!-- </a> -->
                        
                    </div>
                    <div id="pensionClick2" class=" text-white carousel-laMorita productConteiner">
                        <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/pension/pensionB.jpeg" > 
                        <!-- <div class="overlayCat">
                            <div class="text">TITULO</div>
                        </div> -->
                        <!-- </a> -->
                        
                    </div>
                    <div id="pensionClick3" class=" text-white carousel-laMorita productConteiner">
                        <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/pension/pensionC.jpeg" > 
                        <!-- <div class="overlayCat">
                            <div class="text">TITULO</div>
                        </div> -->
                        <!-- </a> -->
                        
                    </div>
                    <div id="pensionClick4" class=" text-white carousel-laMorita productConteiner">
                        <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                        <img class="imgCat" src="/img/laMorita/pension/pensionD.jpeg" > 
                        <!-- <div class="overlayCat">
                            <div class="text">TITULO</div>
                        </div> -->
                        <!-- </a> -->
                        
                    </div>
                    <div id="pensionClick5" class="text-white carousel-laMorita productConteiner">
                        <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg"> -->
                            <img class="imgCat" src="/img/laMorita/pension/pensionE.jpeg" > 
                        <!-- <div class="overlayCat">
                            <div class="text">TITULO</div>
                        </div> -->
                        </a>
                        
                    
                    </div>
           
                    <div class="doma-text">
                        <h4 > Corrales redondos - Pista de obstáculos</h4>
                        
                        <h4 > Pista de trial - Pista de vareo perimetral</h4>
                        
                    </div>
                </div>
            </div>
           

            <div class="category-product" id="doma">
                
                <div class="subtitulo-categoria">
                    <img src="/img/laMorita/doma-banner1.png"  height="200px">
                </div>
                <h2  class="doma-text">Independientemente de la disciplina que vaya a realizar consideramos que todos los caballos deben ser mansos, confiables y respetuosos para tener un buen control del mismo</h2>

                <div class="contenido-pension">
                    <div id="contenido-parrafo-doma" class="doma-text">
                        <h2 >ENTRENAMIENTO Y AMANCE </h2>
                        <h4> <i>"La doma es la Iniciación a la carrera deportiva de cualquier caballo"</i></h4>
                        <h4 >PROGRAMA DE 3-6-12 MESES Y PERSONALIZADOS </h4>
                        <h6> Iniciación de potros </h6>
                        <h6> Doma completa</h6>
                        <h6> Correcciones</h6>
                    </div>

                    <div class="imagenes-pension"> 
                        <div id="domaClick" class=" text-white carousel-laMorita productConteiner">
                            <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg">  -->
                                <img class="imgCat" src="/img/laMorita/doma/domaA.png"  > 
                                <!-- <div class="overlayCat">
                                    <div class="text">TITULO</div>
                                </div> -->
                           <!-- </a> -->
                        </div>    
                        <div id="domaClick2" class=" text-white carousel-laMorita productConteiner">
                            <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg">  -->
                                <img class="imgCat" src="/img/laMorita/doma/domaB.png"  > 
                                <!-- <div class="overlayCat">
                                    <div class="text">TITULO</div>
                                </div> -->
                           <!-- </a> -->
                        </div>    
                       <div id="domaClick3" class=" text-white carousel-laMorita productConteiner">
                        <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg">  -->
                            <img class="imgCat" src="/img/laMorita/doma/domaC.png"  > 
                            <!-- <div class="overlayCat">
                                <div class="text">TITULO</div>
                            </div> -->
                       <!-- </a> -->
                        </div>
                        <div id="domaClick4" class=" text-white carousel-laMorita productConteiner">
                            <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg">  -->
                                <img class="imgCat" src="/img/laMorita/doma/domaD.png"  > 
                                <!-- <div class="overlayCat">
                                    <div class="text">TITULO</div>
                                </div> -->
                           <!-- </a> -->
                        </div>    
                       <div id="domaClick5" class=" text-white carousel-laMorita productConteiner">
                        <!-- <a class="lightbox" href="/img/laMorita/laMorita.jpeg">  -->
                            <img class="imgCat" src="/img/laMorita/doma/domaE.png"  > 
                            <!-- <div class="overlayCat">
                                <div class="text">TITULO</div>
                            </div> -->
                       <!-- </a> -->
                        </div>
                </div>
            </div>
            <div id="texto-desarrollo" class="doma-text">
                <h4 > Iniciación de potros - Desbrave</h4>
                <h6> Consiste en amansar un caballo chúcaro, dejándolo con las primeras montas y los primeros comandos de arriba</h6>
                <h4> Doma completa</h4>
                <h6> Se entrega al caballo manso al andar iniciado a la actividad que vaya a realizar después</h6>
                <h4> Correcciones</h4>
                <h6> Para aquellos caballos ya domados tenemos planes de entrenamiento a convenir según cada caso</h6>
            </div>
            <div class="category-product" id="clases">
                <div class="subtitulo-categoria">
                    <img src="/img/laMorita/banner-servicios.png"  height="200px">
                </div>
               
            </div>
            <div class="contenido-pension">

                <div id="serviciosClick" class="card bg-dark text-white carousel-laMorita productConteiner">
                    <img class="imgCat" src="/img/laMorita/servicios/cursos.jpeg"  > 
                    <div class="overlayCat">
                        <div class="text">CURSOS</div>
                    </div>
                </div>
                <div id="serviciosClick2" class="card bg-dark text-white carousel-laMorita productConteiner">
                    <img class="imgCat" src="/img/laMorita/servicios/clases.jpeg"  > 
                    <div class="overlayCat">
                        <div class="text">CLASES</div>
                    </div>
                </div>
                
            </div>
            <div id="banner-productos">
                <a class="lightbox" href="/">
                <img src= "/img/laMorita/banner-productos.jpeg" width="70%">
                </a>
            </div>
    </main>
    <footer>
        <div id="foot">
            <label class="footer-titulos"></label>
            <a href="/whatsapp"><i class="fab fa-whatsapp footer-items fa-4x"></i></label>
            <a href="https://www.google.com.ar/maps/place/Los+Panas+Centro+Ecuestre,+CGA,+Nicaragua+101,+B1632+Manzanares,+Provincia+de+Buenos+Aires/@-34.4565133,-59.013026,17z/data=!4m2!3m1!1s0x95bc81f343e2b7dd:0x66e179eb76bfce0b"><i class="fas fa-map-marker-alt footer-items fa-4x"></i></label>
            <a href="https://www.instagram.com/madeinrope/"><i class="fab fa-instagram footer-items fa-4x"></i></a>
            <label><i class="fab fa-facebook footer-items fa-4x"></i></label>
        </div>
        <div id="texto-desarrollo">
            <h2 > Nos encontramos en Manzanares, partido de Pilar, Buenos Aires</h2>
            <b> En un lugar de facil acceso a sólo 50km de C.A.B.A.</b>
            <h6 class="doma-text">mail: Lorem ipsum</h6>
            <h6 class="doma-text">telefono: Lorem ipsum</h6>
            <h6 class="doma-text">direccion: Lorem ipsum</h6>
        
        </div>
    </footer>
    
        <script src="/javascript/favs.js"></script>
        <script src="/javascript/laMoritaPrueba.js"></script>
        
    </body>
</html>