<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Made in Rope</title>
</head>
<body>
    <header>
        <span class="cont-logo">
            <a href="/"> <img class="logo" src="/img/logo.jpg" alt="logo"></a> 
        </span>
        <div class="the-header">
            <form id="search">
                <input type="text"> <i class="fas fa-search"></i>
            </form>
            <div id="user-cart">
                <a href="/user/login"><i class="far fa-user fa-2x "></i></a>
                <i class="fas fa-shopping-cart fa-2x "></i>
            </div>
        </div>

          <nav id="navbar">
            <a href="#"><button type="button" class="btn btn-secondary">CONOCENOS!</button></a>
            <a href="#"><button type="button" class="btn btn-secondary">Tabla de talles</button></a>
            <a href="#"><button type="button" class="btn btn-secondary">Cómo comprar</button></a>
            <a href="#"><button type="button" class="btn btn-secondary">Preguntas frecuentes</button></a>
        </nav>
   
    </header>
  <h1> Bienvenid@ <%= userToLog.user_name%></h1>

  <img src="/img/userImages/<%=userToLog.user_image%>">
 

  <% if(userToLog.admin==0){%>  
    <a href="/create"> <button class="btn btn-primary" id="logout" type="submit">Crear producto</button></a>
  <%}%>
  <div class="d-grid gap-2">
    <form action="/user/logout" method="GET">
    <button class="btn btn-primary" id="logout" type="submit">Cerrar sesión</button>
    </form>
  </div>
<script src="/javascript/usersjs.js"></script>
</body>
</html>