<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Made in Rope</title>
</head>
<body>
    <header>
       
        <nav id="navbar">
            
        
            
        <a href="/"><button type="button" class="btn btn-outline-light">Conocenos</button></a>
        <a href="/productos"><button type="button" class="btn btn-outline-light">Productos</button></a>
        <a href="/productos/como_comprar"><button type="button" class="btn btn-outline-light">Cómo comprar</button></a>
        </nav>
       
        
        <div class= "banner-index">
            <div class= "img-banner-index">
                <img src= "/img/frontEnd/banner-index.png">
            </div>
        </div>
    </header>
    <main>
        <h1 style="color: white;"> Talles </h1>
        <h2 style="color: white;"> Para todos los modelos</h2>

      <div id="contenedor-talles">
        <table class="table" style="color:cadetblue;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">XS</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">A</th>
                <td>15,24 cm</td>
                <td>20,05 cm</td>
                <td>25,05 cm</td>
                <td>30,00 cm</td>
              </tr>
              <tr>
                <th scope="row">B</th>
                <td>14,00 cm</td>
                <td>18,00 cm</td>
                <td>23,00 cm</td>
                <td>26,00 cm</td>
              </tr>
              <tr>
                <th scope="row">C</th>
                <td>50,08 cm</td>
                <td>71,00 cm</td>
                <td>80,00 cm</td>
                <td>92,00 cm</td>
              </tr>
              <tr>
                <th scope="row">D</th>
                <td>14,00 cm</td>
                <td>18,00 cm</td>
                <td>23,00 cm</td>
                <td>25,05 cm</td>
              </tr>
              <tr>
                <th scope="row">E</th>
                <td> 8,02 cm</td>
                <td>11,05 cm</td>
                <td>15,25 cm</td>
                <td>20,05 cm</td>
              </tr>
              <tr>
                <th scope="row">F</th>
                <td>15,24 cm</td>
                <td>15,24 cm</td>
                <td>20,05 cm</td>
                <td>25,05 cm</td>
              </tr>
            </tbody>
          </table>

          <img id="size-img" src="/img/talles.png" class="img-fluid " alt="..."> 
        </div>
  </main>    
  <footer id="foot">
    <label class="footer-titulos"></label>
    <a href="/whatsapp"><i class="fab fa-whatsapp footer-items fa-4x"></i></label>
    <a href="https://www.google.com.ar/maps/place/Los+Panas+Centro+Ecuestre,+CGA,+Nicaragua+101,+B1632+Manzanares,+Provincia+de+Buenos+Aires/@-34.4565133,-59.013026,17z/data=!4m2!3m1!1s0x95bc81f343e2b7dd:0x66e179eb76bfce0b"><i class="fas fa-map-marker-alt footer-items fa-4x"></i></label>
    <a href="/productos"> <img class="logo" src="/img/frontEnd/logo-made.png" alt="logo"></a> 
    <a href="https://www.instagram.com/madeinrope/"><i class="fab fa-instagram footer-items fa-4x"></i></a>
    <label><i class="fab fa-facebook footer-items fa-4x"></i></label>
  </footer>
</body>