
.carousel slide{
    display: flex;
}
.carousel{
    width: 100%;
    height: auto;
    padding: 5%;
}
.conteiner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 75%;
    border: red;
}
.product{
    width: 30%;
    padding: 10;
    
}

.textcard{
    color: black;
}

.the-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}