body{
    background-color:#1D1B28;;
 
}
main{
    padding-right: 15%;
    padding-left: 15%;
    background-color: #1D1B28;
    color: whitesmoke;
}

#formRegister{
    width: 80%;
}

.carousel slide{
    display: flex;
}
.carousel{
    width: 100%;
    height: auto;
    padding: 3%;
}
#conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    
    
    
}
#conteiner-laMorita{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    
}

#logo-lamorita{

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.category-product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.productConteiner{
    position: relative;
    width: 50%;
}
.imgCat{
    display:block;
    width: 100%;
    height: auto;
}
.overlayCat {
    position: absolute;
    height:100%;
    width:100%;
    background-color: lightblue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}
.productConteiner:hover .overlayCat {
    opacity: 1;
}
.category{
    width: 100vh;
}
#title{
    display: flex;
    justify-content: center;
}
.product{
    width: 30%;
}

.carousel-laMorita{
    width: 100%;
}


.textcard{
    color: black;
}
.cont-logo{
    display: flex;
    justify-content: center;
    padding-top: 7%;
}
.the-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
    
   
}



#user-card{
    display: flex;
}

#navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 5%;
}
#navbarSec{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 2%;
    margin-bottom: 4%;

}
#foot{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: vh;
    padding-right: 10%;
    padding-top: 10%;
}
.thumb-img-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50vh;
}
.thumb-img{
    width: 15vh;
}
#detail-img{
    width: 50vh;
}
#detail-conteiner{
    display: flex;
}
#img-conteiner{
    display: flex;
    flex-direction: column;
}
#detail-conteiner.detail-product{
    align-self:flex-end;
}


.icon{
    color: #6AA2A3;
    margin:0.5%;
}

.banner-index{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.bannersec{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;

}
.subtitulo{
    
    margin-bottom: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    height: auto;
    text-align:center;
}
.subtitulo-categoria{
   
    display: block;
    
    max-width:100%;
    height: auto;
    text-align:left;
    margin-top: 5%;

}
.imagenCategoria{
    display: block;
    width: 100%;
    height: auto;
    padding:5%;
    margin-bottom: 5%;
  }

.menuCategorias{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display:flex;
    justify-content: space-around;
    align-items:baseline;
}

.menuLamorita{
    margin-left: 15%;
    display:flex;
    justify-content: space-around;
    align-items:baseline;
    width: 70%;
    justify-content: center;
}

.categoria-listado:hover .overlayList {
    opacity: 1;
  }
  

.overlayList {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6AA2A3;
    border-radius: 60%;
  }
  .categoria-listado{
    position: relative;
    width: 50%;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #foot{
    display:flex;
    align-items: baseline;
    margin-bottom: 10%;
  }
  .footer-items{
      padding:2%;
      color: #707c7c;
  }
  #imgDoma{
      display: flex;
      flex-wrap: nowrap;
      justify-self: center;
  }

#productName{
      color:#6AA2A3;
  }

.productInfo{
    margin-left: 4.5%;
    margin-right: 4.5%;
    display:flow-root;
    border-color:#6AA2A3;
    border-width: 4px;
    color: #6AA2A3

}

#productDescription{
    color:#6AA2A3;
    display:block;
    margin-bottom: 2%;

}
#productPrice{
    color:#6AA2A3;
    margin-bottom: 2%;
    margin-top: 8%;
    font-size: 20px;

}

#cart{
    
    color:#6AA2A3;
    text-align: center;

}
#notFav{
    margin-top: 3%;
    color:#6AA2A3;

}
#fav{
    margin-top: 3%;
    color:#6AA2A3;

}
#colorSelected{
    width: 30%;
}

.texto{
    color:#6AA2A3;
}

.registerConteiner{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 30% ;
    padding-left: 30% ;

/* width: 50%;
margin-top: 2%;
margin-right: 5%;
margin-left: 32% ; */
}
.titulo{
    text-align: center;
    margin-bottom: 2%;
}

.contenedorBoton{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.loginConteiner{
    justify-content: center;
    display:flex;
    background-color: #6AA2A3;
    width: 50%;
    margin-left: 25%;
    padding-top: 2%;
    border-radius: 55%;
    margin-top: 10%;

}
.aux{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 4%;
    margin-right: 2%;
    margin-left: 2%;
    color: whitesmoke;
    margin-top: 6%;
}

#body_lamorita{
    background-color: #342434;
}
#mainColor-lamorita{
    background-color: #342434;
}
.doma-text{
    font-family: 'palatino';
    color: whitesmoke;
}
.contenido-pension{
    display: flex;
    flex-wrap: nowrap;
}
.imagenes-pension{
    width: 100%;
    margin-left: 10%;

}
#contenido-parrafo-pension{
    width: 85%;
    color: #86899c;
    font-size: smaller;
    margin-left: 5%
}
#contenido-parrafo-jornadas{
    width: 50%;
    color: whitesmoke;
    font-size: smaller;
    margin-left: 5%;
    margin-top: 3%
}

#contenido-parrafo-doma{
    width: 50%;
    color: whitesmoke;
    font-size: smaller;
    margin-top: 5%;
    
}
#texto-desarrollo{
    margin-top: 5%;
}

#banner-productos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 25%;
}
#tallesButton{
    margin-top: 5%;
    width: 100%;
}
#usuario{
    margin-right: 12%;
}
.conteiner-fav{
    position: relative;
    flex-direction: column;
    
}
.divCard{
    position: absolute;
   
}
.imgFav{
    width: 150px;
    margin-top: 5px;
}
.favs-title{
    width: 150px;
}
#vision-conteiner-img{
    width: 50%;
    margin-top: 5%;
    
}
#vision-conteiner-text{
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
}
#conteiner-vision{
    display: flex;
    flex-wrap: nowrap;
 
}

.titulo-vision{
    margin-top: 5%;
}

.arrowConteiner{
    display: flex;
    width: 30%;
    margin-left: 75%;
}
.arrowNext{
    width: 45%;
}
.texto-pension{
    margin-bottom: 20px;
}
#texto-footer{
    margin-left: 10%;
}
#contactos{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
}
#mail{
    width: 30%;
}
#telefono{
    width: 30%;
}
#ubicacion{
    width: 40%;
}
.jornadas-text{
    margin-top: 5%;
}



#texto-pension{
    margin-top: 5%;
}
#firma{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 5%;
    flex-direction: row;
    
}
.text-firma{
    margin-top: 3% ;
    font-family: 'bradley hand';
    color: yellow;
    margin-left: 2%;
    margin-right: 2%;
}
#profile-admin-conteiner{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-between;
    width: 30%;
}
#visionButton{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 5%;
}
#vision-subt{
    margin-bottom: 5%;
}
.box-shadow{
    box-shadow: 4px 3px 17px 3px #000000;
}
#logo-banner{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}
#logoImg{
    width: 85%;
    height: auto;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
#contenedor-talles{
    display: flex;
    flex-wrap: nowrap;
}
#size-img{
    width: 40%;
    height: auto;
}

@media only screen and (max-width: 600px){
    /* #detail-img{
        width: 50%;

    }
    .thumb-img-content{
        width: 50%
    
    }
    .thumb-img{
        width: 30%;
    } */
    #img-conteiner{
        width: 90%;
    }
    #detail-conteiner{
        flex-direction: column;
    }
    .thumb-img-content{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    
    }
    .thumb-img{
        width: 30%;
    }
    #foot{
        width: 90%;
        justify-content: space-between;
        margin-left: 7%;

    }
    #logo-maden{
        width: 50%;
        height: auto;
    }
    #link-logo{
        width: 50px;
    }
    #nextClick{
        height: 62px;

    }
    #nextClick3{
        height: 62px;
    }
    .contenido-pension{
        display: inline;
    }
    #contenido-parrafo-jornadas{
        width: 100%;
    }
    #conteiner-vision{
        display: inline;
    }
    #vision-conteiner-img{
        width: 90%;
        margin-top: 5%;
    }
    #vision-conteiner-text{
        width: 90%;
    }
    .categoria-product{
        display: inline;
    }
    #contenido-parrafo-doma{
        width: 100%;
    }
    .imagenes-pension{
        margin-left: 0%;
    }
}
@media only screen and (max-width: 700px){
    #nextClick{
        height: 62px;

    }
    #nextClick3{
        height: 62px;
    }
}