body{
    background-color:#1D1B28;;
}
main{
    padding-right: 15%;
    padding-left: 15%;
    background-color: #1D1B28;
}
.carousel slide{
    display: flex;
}
.carousel{
    width: 100%;
    height: auto;
    padding: 3%;
}
#conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.category-product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.productConteiner{
    width: 40vh;
    height: 200px;
}

.category{
    width: 100vh;
}
#title{
    display: flex;
    justify-content: center;
}
.product{
    width: 30%;
}

.textcard{
    color: black;
}
.cont-logo{
    display: flex;
    justify-content: center;
    padding-top: 7%;
}
.the-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
    
   
}



#user-card{
    display: flex;
}

#navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 5%;
}
#foot{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: vh;
    padding-right: 10%;
    padding-top: 10%;
}
.thumb-img-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50vh;
}
.thumb-img{
    width: 15vh;
}
#detail-img{
    width: 50vh;
}
#detail-conteiner{
    display: flex;
}
#img-conteiner{
    display: flex;
    flex-direction: column;
}
#detail-conteiner.detail-product{
    align-self:flex-end;
}


.icon{
    color: #6AA2A3;
}

.banner-index{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    margin-top: 5%;
}